/* //assets/css/themes.css */



.dark {
  --color-primary-50: var(--color-rose-900);
  --color-primary-100: var(--color-rose-800);
  --color-primary-200: var(--color-rose-700);
  --color-primary-300: var(--color-rose-600);
  --color-primary-400: var(--color-rose-500);
  --color-primary-500: var(--color-rose-400);
  --color-primary-600: var(--color-rose-300);
  --color-primary-700: var(--color-rose-200);
  --color-primary-800: var(--color-rose-100);
  --color-primary-900: var(--color-rose-50);
}